<section class="container">
    <div class="card m-3 col-5 col-sm-10">
        <a class="card-header fs-3 fw-bold">{{title}}</a>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>{{description}}.</p>
                <p class="blockquote-footer mt-3">Created by {{user.name}} on {{format_date date_created}}.
                </p>
            </blockquote>
        </div>
    </div>

    {{#if comments.length}}
    <div class="container m-3">
        <h4>Comments</h4>
        {{#each comments}}
        {{> comment}}
        {{/each}}
    </div>
    {{/if}}

    {{#if logged_in}}
    <form id="commentForm" class="mt-5" userid="{{commentsUser_id}}" blogid="{{id}}">
        <div class="mb-3">
            <label for="blogCommnet" class="form-label">Please place your comment</label>
            <input class="form-control" id="blogComment" placeholder="comments">
        </div>
        <button type="button" class="btn btn-primary" id="submitComment">submit</button>
    </form>
    {{/if}}
</section>

<script src="/js/comment.js"></script>